<div class="container">
  <a class="title__nav-link" routerLink="/home/catalog">Главная</a>
  <img class="title__nav-img" src="./assets/icons/arrow.svg" alt="arrow">
  <a class="title__nav-link active" routerLink="/home/about">О нас</a>
  <div class="about">
    <h2 class="about__title">О нас</h2>
    <p class="about__text">Официальный представитель производителей эксклюзивного электротранспорта и Смарт-Техники, Созданная в 2015 году компания Смарт-Техника стала одним из первых дистрибьютеров персонального электротранспорта в России и уже более трёх лет является официальным представителем таких производителей эксклюзивного электронного транспорта, как <b>Yamato</b>, <b>SmartONE</b>, <b>HALTEN</b> и <b>Kugoo</b>
    </p>
    <h3 class="about__subtitle">Постоянно растущая и развивающаяся Компания</h3>
    <p class="about__text">На сегодняшней день Компания Смарт-Техника обладает собственным розничным магазинами в г. Санкт-Петербурге, официальными представительствами в различных районах г. СПб и Ленобласти, сетью складов в Петербурге, Москве и других крупных городах России. Мы постоянно растём и развиваемся. Доставка наших товаров осуществляется во все регионы Страны!</p>
    <h3 class="about__subtitle">Самый большой выбор персонального электротранспорта</h3>
    <p class="about__text">Самый большой выбор персонального электротранспорта представлен в выставочных залах Смарт-Техника по адресам:</p>
    <p class="about__text"><b>ул.Ленсовета 81;</b></p>
    <p class="about__text"><b>ул.Дыбенко 23к1;</b></p>
    <p class="about__text"><b> пр.Энгельса 113к2.</b></p>
    <p>Расширение ассортимента происходит стабильно раз в полгода, и вы всегда найдёте у нас самые эксклюзивные модели электронного транспорта нового поколения!</p>
    <h3 class="about__subtitle">Опытный и высококвалифицированный персонал</h3>
    <p class="about__text">В компании работают опытные высококвалифицированные сотрудники, всегда готовые помочь вам с выбором персонального транспортного средства, ответить на все возможные вопросы и научить кататься на выбранной вами модели</p>
    <h3 class="about__subtitle">Возможность тест драйва</h3>
    <p class="about__text">Благодаря месторасположению и инфраструктуре, прилегающей к магазинам территорий, наши посетители могут перед оформлением покупки пройти тест-драйв на любом из представленных в зале транспортных средств.</p>
    <p class="about__text">Для тест-драйва крупной техники необходима предварительная запись. Её можно осуществить по телефону: <a class="about__link" href="tel:+7(812)509-23-43">+7(812)509-23-43</a> или <b>через консультанта вмагазине.</b></p>
    <h3 class="about__subtitle">Цель и миссия компании Смарт-Техника.рф</h3>
    <p class="about__text"><b>Цель компании Смарт Техника</b> — в 2020 году стать самым крупным магазином по продаже персонального электротранспорта в Санкт-Петербурге. А также открывать свои филиалы во всех крупных городах России, что происходит уже сейчас.</p>
    <p class="about__text"><b>Миссия компании Смарт Техника</b> — познакомить россиян с экологически чистыми видами транспорта и улучшить экологию Страны! Мы надеемся не просто привить нашей нации любовь к ЭКО-транспорту, а создать в стране новую культуру передвижения.</p>
    <h3 class="about__inner-text">Мы всегда рады взаимовыгодному сотрудничеству. <br> Свои предложения отправляйте <a
      href="mailto:smartfamily.info@yandex.ru" class="about__inner-mail">smartfamily.info@yandex.ru</a></h3>
  </div>
</div>
