<div class="container">
  <a class="title__nav-link" routerLink="/home/catalog">Главная</a>
  <img class="title__nav-img" src="./assets/icons/arrow.svg" alt="arrow">
  <a class="title__nav-link active" routerLink="/home/drop">Опт/дропшиппинг</a>
  <div class="drop">
    <h2 class="drop__title">Дропшиппинг</h2>
    <p class="drop__text">Хотите начать прибыльный бизнес с минимальными вложениями? Предлагаем стать нашим партнёром на основе дропшипинга! Вы сможете продавать десятки моделей гироскутеров, моноколёс, мини-сигвеев и электросамокатов на своём сайте, не заботясь о закупке товара и организации доставки.</p>
    <p class="drop__text">Дропшипинг – это модель продаж, в которой вы через свой сайт привлекаете клиентов и продаёте им товар, а обработка заказов производится крупным партнёром. Ваши вложения ограничиваются созданием и продвижением интернет-сайта.</p>
    <p class="drop__text">Продажа гироскутеров на основе дропшиппинга строится следующим образом: </p>
    <p class="drop__text">Вы создаёте сайт, на котором продаёте гироскутеры, представленные в нашем магазине. Весь наш ассортимент – в вашем распоряжении. Ваша задача сводится к продвижению своего сайта и привлечению покупателей.</p>
    <p class="drop__text">Покупателей вы перенаправляете к нам. Мы организуем доставку и приём оплаты.</p>
    <p class="drop__text">Вы получаете свой процент от совершённой покупки.</p>
    <h3 class="drop__subtitle">Модель дропшиппинга позволяет начать своё дело даже новичку в бизнесе.</h3>
    <p class="drop__text">Вам не нужно вкладывать деньги в товар, заключать договоры с производителями, договариваться о доставке и растаможке. Вам не потребуются ни склады, ни торговые помещения, ни персонал. Создать интернет-магазин гироскутеров на основе дропшиппинга – несложно и недорого!</p>
    <h2 class="drop__title">Заполните форму и мы свяжемся с вами</h2>
    <div class="drop__form">
      <form>
        <div class="drop__form_items">
          <div class="form__items-info">
            <label for="username">Имя</label> <br>
            <input class="form-input" placeholder="Введите имя" id="username">
            <label for="phone">Телефон</label> <br>
            <input class="form-input" placeholder="Введите номер телефон" id="phone">
            <button class="form-btn">Отправить</button>
          </div>
          <div class="form__items-message">
            <label for="message">Сообщение</label> <br>
            <textarea class="form-textarea" placeholder="Введите имя" id="message"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
