.mat-action-row {
    justify-content: flex-start;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child {
    margin-bottom: 40px;
}
.mat-expansion-panel {
    margin-bottom: 40px;
}

.filtration {
    &__form {
        display: flex;
        align-items: center;
        &-btn {
            width: 150px;
            height: 40px;
            background: #4878A6;
            border-radius: 4px;
            margin-left: 10px;
            color: #FFFFFF;
        }
        &-clear {
            height: 40px;
            background: transparent;
            border-radius: 4px;
            margin-left: 20px;
            color: #000;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 16px;
        color: #070C11;
        margin-right: 16px;
    }
    &__price, &__novelty, &__bestseller, &__aquadef {
        margin-right: 15px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-from-input, &-end-input {
            width: 117px;
            height: 48px;
            border: 1px solid #EAEAF0;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 13px 20px;
            margin-right: 20px;
            font-size: 16px;
            color: #838688;
            outline: 0;
            &:focus {
                outline: 1px solid #838688;
            }
        }
    }
}

.sorting {
    &__form {
        display: flex;
        align-items: center;
    }
    &__price, &__rating, &__discount, &__search {
        margin-right: 25px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-increase {
            height: 20px;
            background: transparent;
            margin-right: 10px;
            transform: rotate(90deg);
        }
        &-decrease {
            height: 30px;
            background: transparent;
            margin-right: 10px;
            transform: rotate(-90deg);
        }
        &-searching {
            width: 400px;
            height: 48px;
            border: 1px solid #EAEAF0;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 13px 20px;
            margin-right: 20px;
            font-size: 16px;
            color: #838688;
            outline: 0;
            &:focus {
                outline: 1px solid #838688;
            }
        }
    }
    &__title {
        font-weight: 700;
        font-size: 16px;
        color: #070C11;
        margin-right: 16px;
    }
}

label {
    margin-right: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #838688;
}

.decorated-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.decorated-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.decorated-checkbox+label::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid #EAEAF0;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}
.decorated-checkbox:checked+label::after {
    background-color: #4878A6;
    background-image: url('../../../assets/icons/catalog/check_mark.svg');
}

@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .filtration {
        &__form {
            display: flex;
            align-items: center;
            &-btn {
                width: 150px;
                height: 40px;
                background: #4878A6;
                border-radius: 4px;
                margin-left: 10px;
                color: #FFFFFF;
            }
            &-clear {
                height: 40px;
                background: transparent;
                border-radius: 4px;
                margin-left: 20px;
                color: #000;
            }
        }
        &__title {
            font-weight: 700;
            font-size: 16px;
            color: #070C11;
            margin-right: 16px;
        }
        &__price, &__novelty, &__bestseller, &__aquadef {
            margin-right: 15px; 
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-from-input, &-end-input {
                width: 117px;
                height: 48px;
                border: 1px solid #EAEAF0;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 13px 20px;
                margin-right: 20px;
                font-size: 16px;
                color: #838688;
                outline: 0;
                &:focus {
                    outline: 1px solid #838688;
                }
            }
        }
    }
}