.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px;
}

.news-block-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  align-items: center;
  margin-bottom: 30px;
}

.news-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
}

.news-block-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.news-block-main-chapter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  background: #EDF2F6;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}

.exchange-title {
  border: 1px solid green;
  border-radius: 5px;
  color: darkgreen;
  padding: 5px;
  text-align: center;
}

.news-block-header-weather {
  display: flex;
  align-items: center;
}

.main-chapter-info {
  grid-column: span 3;
}

.main-chapter-text {
  margin-bottom: 30px;
}

.main-chapter-link {
  color: #2A5275;
  margin-right: 10px;
}

.main-chapter-link:hover,
.main-chapter-link:active,
.main-chapter-link:focus{
  color: grey;
  transition: 0.5s;
}

.img-weather {
  max-width: 32px;
}

.weather-title {
  font-size: 25px;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .news-block-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
  }
}
