<div class="news-block">
  <div class="container">
      <div class="news-block-header">
          <div class="news-block-header-title">
            <h3 class="news-header">Новости</h3>
          </div>
          <div class="news-block-header-weather">
            <img class="img-weather" src="./assets/img/weather-icon.png"><span class="weather-title">{{weatherData?.name}} -  {{(weatherData?.main.temp - 32) * 5/9 | number: '1.0-0' }}  &#176;</span>
          </div>
        <div  class="news-block-header-exchange">
          <h3 class="exchange-title">1 USD = {{currentData?.rates.RUB.rate | number: '2.1-2'}} RUB</h3>
      </div>
    </div>
    <div class="news-block-main">
        <div class="news-block-main-chapter">
          <div class="main-chapter-img">
            <img src="./assets/img/news-img1.png" alt="">
          </div>
          <div class="main-chapter-info">
            <h3 class="main-chapter-title">Открытие новых магазинов</h3>
            <p class="main-chapter-text">Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения</p>
            <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
          </div>
        </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img2.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Что такое электровелосипед?</h3>
          <p class="main-chapter-text">Итак, обычный велосипед и не более необычная приставка «Электро», что же это такое, откуда он взялся и зачем все усложнять?</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img3.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Горячие новинки в мире электроники</h3>
          <p class="main-chapter-text">Выставка CES 2022 продемонстрировала изменения подходов к управлению домашней техникой и самим устройствам.</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img4.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Как выбрать электросамокат?</h3>
          <p class="main-chapter-text">Здесь обязательно должно быть большое вступление на предмет того, насколько популярный, удобный и современный вид транспорта электросамокат</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img5.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Новые шаги к разработке очков дополненной реальности</h3>
          <p class="main-chapter-text">Выходим за рамки социальной платформы и фокусируется на разработке технологии дополненной реальности.</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img6.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Как выбрать smart-браслет для занятия спортом</h3>
          <p class="main-chapter-text">В этом году браслеты получят важное улучшение в виде еще большего дисплея с разрешением 192 x 490 пикселей.</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img7.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Как выбрать электронную книгу</h3>
          <p class="main-chapter-text">Этот раздел— для тех, кто хочет сразу купить хорошую книгу и не переплачивать за лишние функции</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img8.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Всё о выборе smart-часов </h3>
          <p class="main-chapter-text">Если вы решились на покупку «умных часов», то следует обстоятельно подойти к их выбору.</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
