
<div class="news">
  <div class="container">
    <p class="header-title__nav">
      <a class="header-title__nav-link" routerLink="/home/catalog">Главная</a>
      <img class="header-title__nav-img" src="../assets/icons/arrow.svg" alt="arrow">
      <a class="header-title__nav-link active" routerLink="/home/news">Новости</a>
    </p>
      <div class="news__block-header">
          <div class="news__block-header-title">
            <h4 class="news__header">Новости</h4>
          </div>
          <div class="news__block-header-weather">
            <span class="weather__title">{{weatherData?.name}}  {{(weatherData?.main?.temp - 32) * 5/9 | number: '1.0-0' }}  &#176; </span>
            <img class="img__weather" src="./assets/img/weather-icon.png" alt="weather-icon">
          </div>
        <div  class="news__block-header-exchange">
          <h4 class="exchange__title">1 USD = {{currentData?.rates?.RUB?.rate | number: '2.1-2'}} RUB</h4>
      </div>
    </div>
    <div class="news__block-main ">
      <div *ngFor="let item of newsCategories" class="news__block-main-chapter ">
          <div class="main__chapter-img">
            <img src="{{item.src}}" alt="">
          </div>
          <div class="main__chapter-info">
            <h3 class="main__chapter-title">{{item.title}}</h3>
            <hr>
            <p class="main__chapter-text">{{item.description}}</p>
            <a [routerLink]="item.categoryId" class="main__chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
          </div>
        </div>
    </div>
  </div>
</div>


