<div class="news-block">
  <div class="container">
      <div class="news-block-header">
          <div class="news-block-header-title">
            <h3 class="news-header">Новости</h3>
          </div>
          <div class="news-block-header-weather">
            <h3 class="weather-title" >Погода в {{weatherData?.name}} <span>{{(weatherData?.main.temp - 32) * 5/9 | number: '1.0-0' }}  &#176;</span>
            </h3>
          </div>
        <div  class="news-block-header-exchange">
          <h3 class="exchange-title">1 USD = {{currentData?.rates.RUB.rate | number: '2.1-2'}} RUB</h3>
      </div>
    </div>
    <div class="news-block-main">
        <div class="news-block-main-chapter">
          <div class="main-chapter-img">
            <img src="./assets/img/news-img1.png" alt="">
          </div>
          <div class="main-chapter-info">
            <h3 class="main-chapter-title">Открытие новых магазинов</h3>
            <p class="main-chapter-text">Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения</p>
            <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
          </div>
        </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img2.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Открытие нового магазина</h3>
          <p class="main-chapter-text">Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img3.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Открытие нового магазина</h3>
          <p class="main-chapter-text">Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img4.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Открытие нового магазина</h3>
          <p class="main-chapter-text">Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img1.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Открытие нового магазина</h3>
          <p class="main-chapter-text">Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img2.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Открытие нового магазина</h3>
          <p class="main-chapter-text">Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img3.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Открытие нового магазина</h3>
          <p class="main-chapter-text">Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>
      <div class="news-block-main-chapter">
        <div class="main-chapter-img">
          <img src="./assets/img/news-img4.png" alt="">
        </div>
        <div class="main-chapter-info">
          <h3 class="main-chapter-title">Открытие новых магазинов</h3>
          <p class="main-chapter-text">Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения</p>
          <a href="" class="main-chapter-link">Перейти в раздел</a><img src="./assets/icons/news-arrow.svg" alt="">
        </div>
      </div>

    </div>
  </div>
</div>
