.container {
  max-width: 1300px;
  margin: 30px auto;
  padding: 15px;

  .title__nav-img {
    margin-right: 15px;
    margin-left: 15px;
  }

  .active {
    color: #838688;
  }
}

.all-news {
  margin-top: 50px;

  &__row {
    background-color: #EDF2F6;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__content {
    margin-bottom: 15px;
  }

  &__link {
    color: #838688;

    &:hover,
    &:focus,
    &:active{
      color: #2A5275;
      transition: 0.5s;
    }
  }

}

