.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px;
}

.all-news {
  margin-top: 100px;

  &__row {
    background-color: #EDF2F6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
  }
}

