<div class="container">
  <a class="title__nav-link" routerLink="/home/catalog">Главная</a>
  <img class="title__nav-img" src="./assets/icons/arrow.svg" alt="arrow">
  <a class="title__nav-link active" routerLink="/home/stock">Акции</a>
  <div class="stock">
    <h2 class="stock__title">Акции</h2>
    <div class="stock__items">
      <div class="stock__items-block">
        <div class="stock__items-block-title">
          <h2>Скидка в ДЕНЬ РОЖДЕНИЯ (неделя до/после)</h2>
        </div>
        <div class="stock__items-block-img">
          <img src="../../assets/img/stock1.webp" alt="">
        </div>
      </div>
      <div class="stock__items-block">
        <div class="stock__items-block-title">
          <h2>Неделя смарт часов и <br> смарт-браслетов</h2>
        </div>
        <div class="stock__items-block-img">
          <img src="../../assets/img/stock2.webp" alt="">
        </div>
      </div>
      <div class="stock__items-block">
        <div class="stock__items-block-title">
          <h2>Распродажа <br> до — 50%</h2>
        </div>
        <div class="stock__items-block-img">
          <img src="../../assets/img/stock3.webp" alt="">
        </div>
      </div>
      <div class="stock__items-block">
        <div class="stock__items-block-title">
          <h2>Новинки смартфонов <br> и аксессуаров</h2>
        </div>
        <div class="stock__items-block-img">
          <img src="../../assets/img/stock4.webp" alt="">
        </div>
      </div>
      <div class="stock__items-block">
        <div class="stock__items-block-title">
          <h2>Огромный выбор <br> электро-скутеров</h2>
        </div>
        <div class="stock__items-block-img">
          <img src="../../assets/img/stock5.webp" alt="">
        </div>
      </div>
      <div class="stock__items-block">
        <div class="stock__items-block-title">
          <h2>Скидки до 30% <br> на сигвеи</h2>
        </div>
        <div class="stock__items-block-img">
          <img src="../../assets/img/stock6.webp" alt="">
        </div>
      </div>
      <div class="stock__items-block">
        <div class="stock__items-block-title">
          <h2>Скидка на наушники <br> до 50 %</h2>
        </div>
        <div class="stock__items-block-img">
          <img src="../../assets/img/stock7.webp" alt="">
        </div>
      </div>
      <div class="stock__items-block">
        <div class="stock__items-block-title">
          <h2>E-sim в подарок <br> при каждой покупке</h2>
        </div>
        <div class="stock__items-block-img">
          <img src="../../assets/img/stock8.webp" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
