*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  color: #070C11;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6,
section,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.slick-prev:before, .slick-next:before {
  color: black!important;
}

.slick-dots {
  bottom: 20px !important;
  height: 3px !important;
  li {
    height: 3px !important;
    max-width: auto !important;
    button {
      background: #C8CACB !important;
      opacity: 0.5 !important;
      border-radius: 2px !important;
      max-width: auto !important;
      height: 3px !important;
      padding: 0 !important;
      &::before {
        display: none !important;
      }
    }
    &.slick-active {
      background: #EDF2F6 !important;
    }
  }
}